::ng-deep app-server-list {
  position: absolute;
  top: 50%;
  left: 0;
  width: fit-content;
  z-index: 3;
}

.serverId {
  margin-top: 5px;
  &:hover {
    cursor: pointer;
    transform: scale(1.1);
    font-weight: 700;
    background-color: #3edc3f;
  }
}
