.player {
  width: 300px;
  overflow: hidden;

  display: flex;
  align-items: center;
  background-color: rgb(50, 50, 50, 0.8);
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  margin-top: 20px;

  @media (max-width: 1030px) {
    width: 200px;
  }
  span {
    font-size: 1.1rem;
    margin-left: 16px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }

  img {
    height: 60px;
    width: 60px;
    object-fit: cover;
    border-radius: 100%;
  }
}

.playerActive {
  background-color: orange;
}
