.startScreen {
  background-color: black;
  width: 100vw;
  height: 100vh;
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  h1 {
    position: absolute;
    top: 30px;
    font-family: verdana;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    font-size: 3.2rem;
    letter-spacing: 14px;
    color: rgb(250, 0, 0);
    text-shadow: rgb(0, 0, 0) -4px 2px 7px;

    @media (max-width: 660px) {
      font-size: 2.7rem;
    }

    @media (max-width: 560px) {
      font-size: 2.2rem;
    }

    @media (max-width: 460px) {
      font-size: 1.8rem;
    }

    @media (max-width: 400px) {
      font-size: 1.4rem;
    }
  }

  img {
    height: 100%;
  }

  @media (max-width: 960px) {
    overflow: hidden;
  }
}

.startLabelBox {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 30px;
  display: flex;
  justify-content: center;

  img {
    width: 500px;
    height: auto;

    &:hover {
      filter: brightness(1.25);
      cursor: pointer;
    }

    @media (max-width: 960px) {
      width: 400px;
    }

    @media (max-width: 560px) {
      width: 260px;
    }

    @media (max-width: 460px) {
      width: 240px;
    }
  }
}
