.startScreen {
  background-color: black;
  width: 100vw;
  height: 100vh;
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    height: 100%;
  }

  @media (max-width: 960px) {
    overflow: hidden;
  }
}

.startLabelBox {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 30px;
  display: flex;
  justify-content: center;

  img {
    width: 500px;
    height: auto;

    &:hover {
      filter: brightness(1.25);
      cursor: pointer;
    }

    @media (max-width: 960px) {
      width: 400px;
    }

    @media (max-width: 560px) {
      width: 260px;
    }

    @media (max-width: 460px) {
      width: 240px;
    }
  }
}
