<div class="scrollContainerDesktop  hideMobile">
    <app-player (click)="editPlayer(i)" *ngFor="let player of game.players; let i = index" [name]="player"
        [playerActive]="i == game.currentPlayer" [image]="game.playerImages[i]"></app-player>
</div>
<div class="scrollContainer hideDesktop">
    <app-player-mobile (click)="editPlayer(i)" *ngFor="let player of game.players; let i = index" [name]="player"
        [playerActive]="i == game.currentPlayer" [image]="game.playerImages[i]"></app-player-mobile>
</div>
<p class="credits">Board image by <a
        href="https://www.freepik.com/free-vector/gradient-hexagonal-background_13859436.htm#query=dark%20gaming%20background&position=5&from_view=keyword&track=ais">Freepik</a>
</p>
<div class="gameOver" *ngIf="gameOver">
    <img src="./assets/img/game_over.png">
</div>


<div class="field" *ngIf="!gameOver">
    <div class="cardStack">

        <!-- card stack -->
        <img [ngStyle]="{'right.px': i * 5, 'border-radius.px': 5}" *ngFor="let c of [0, 1, 2, 3, 4]; let i = index;"
            src="assets/img/cards/card_cover.png">
        <img (click)="takeCard()" class="topCard" style="right: 25px" src="assets/img/cards/card_cover.png">

        <!-- stack for played cards -->
        <img *ngFor="let card of game.playedCards" class="playedCard" src="assets/img/cards/{{ card }}.png">

        <!-- current card (Animation) -->
        <img (click)="takeCard()" *ngIf="game.pickCardAnimation" class="pickCard" style="right: 25px"
            src="assets/img/cards/{{ game.currentCard }}.png">

    </div>
</div>

<app-game-info *ngIf="!gameOver" [card]="game.currentCard" class="pinBottom"></app-game-info>

<button *ngIf="!gameOver" mat-fab color="primary" (click)="openDialog()" class="btnAdd">
    <mat-icon>add</mat-icon>
</button>

<img class="preloadImage" src="assets/img/cards/{{ game.stack[game.stack.length - 1] }}.png">