.profilePicture {
  width: 60px;
  height: 60px;
  border-radius: 100%;
  border: 2px solid transparent;
  &:hover {
    cursor: pointer;
    border: 2px solid black;
    filter: brightness(1.1);
  }
}
