/* You can add global styles to this file, and also import other style files */

* {
  font-family: "Chango", sans-serif;
}

html,
body {
  margin: 0;
  height: 100%;
}

html {
  overflow: hidden;
}

body {
  overflow: hidden;
}

@media (max-width: 720px) {
  .hideMobile {
    display: none;
  }
}

@media (min-width: 720px) {
  .hideDesktop {
    display: none;
  }
}
